body {
    font-family: garamond;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #00600f;
    color: white;
}

section {
    text-align: center;
    width: 75%;
    height: 90px;
}

nav {
    width: 25%;
    height: 90px;
}

main {
    background-color: #c8e6c9;
    height: 600px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #00600f;
    color: white;
}

h5 {
    background-color: #00600f;
    color: white;
    font-size: 200%;
    text-align: center;
    margin: 0px;
}

h2 {
    text-align: right;
}

article {
    margin: 10px;
    border: 1px solid #00600f;
    width: 300px;
}
